.account__container > div {
  border-radius: 4px;
  background-color: white;
  box-shadow: 0px 1px 2px 0px #0000004d;
  box-shadow: 0px 1px 3px 1px #00000026;
}

.account__title {
  margin: 12px;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--accent);
  font-weight: 600;
}

.account__balance {
  margin: 20px 12px 30px;
  display: flex;
  justify-content: space-between;
}

.account__balance > h6 {
  font-size: 12px;
  font-weight: 500;
}

.account__balance > span {
  color: var(--primary);
  font-weight: 600;
}

.account__tab-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.account__tab-group > button {
  border: none;
  background-color: transparent;
  padding: 8px 12px;
  text-align: left;
  font-weight: 500;
}

.account__tab-group > button.selected-account-tab {
  background-color: var(--primary);
  color: white;
  border-left: 3px solid var(--accent);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.account__tab-panel {
  padding: 12px;
}

.account__tab-panel > h4 {
  padding-bottom: 8px;
  border-bottom: 1px solid var(--accent);
  font-weight: 600;
}

/* Invoices tab styles */

.invoice-table-container {
  overflow-x: auto;
}

.invoice-table {
  margin-top: 30px;
  width: 100%;
}

.invoice-table > thead > tr > th {
  padding: 12px 0;
  border-top: 1px solid #dee2e6;
  border-bottom: 2px solid #dee2e6;
  color: #152536;
  font-weight: 500 !important;
}

.invoice-table > tbody > tr > td:first-child,
thead > tr > th:first-child {
  font-weight: 800;
}

.invoice-table > tbody > tr > td {
  padding: 12px 0;
  border-bottom: 1px solid #dee2e6;
  color: #152536;
  font-size: 14px;
}

.invoice-table > tbody > tr > td > a {
  text-decoration: none;
}

.action-btn {
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  font-size: 10px;
  background: linear-gradient(270deg, #34a2d7 0%, #273368 100%);
}

.action-btn:first-child {
  border-left: 1px solid var(--accent);
}

.action-btn:last-child {
  border-left: 2px solid var(--accent);
}

@media (max-width: 768px) {
  .invoice-table-container table {
    min-width: 800px;
  }

  .invoice-table-container thead > tr > th:first-child {
    min-width: 40px;
  }

  .invoice-table-container thead > tr > th:nth-child(2) {
    min-width: 160px;
  }

  .invoice-table-container thead > tr > th:nth-child(3) {
    min-width: 100px;
    max-width: 100px;
  }

  .invoice-table-container thead > tr > th:nth-child(4) {
    min-width: 100px;
    max-width: 100px;
  }

  .invoice-table-container thead > tr > th:nth-child(5) {
    min-width: 100px;
    max-width: 100px;
  }

  .invoice-table-container thead > tr > th:nth-child(6) {
    min-width: 100px;
    max-width: 100px;
  }
}
