.breadcrumb-item > a {
  color: var(--primary) !important;
  text-decoration: none;
}

.stepper-wrapper {
  position: relative;
}

.stepper-border::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 18px;
  border: 2px solid #cfd6dc;
}

.stepper-container {
  display: flex;
  justify-content: space-between;
  margin: 40px auto;
  position: relative;
  max-width: 800px;
}

.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.stepper-step {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #cfd6dc;
  text-align: center;
  line-height: 40px;
  color: white;
  font-weight: bold;
  margin-bottom: 6px;
  z-index: 3;
}

.stepper-title {
  color: #abb7c2;
  font-size: 14px;
}

.stepper-item.active .stepper-step {
  background-color: var(--primary);
  color: white;
}

.stepper-item.active .stepper-title {
  color: #0d0b26;
  font-weight: 500;
}

.course-info h5 {
  color: #121212;
  margin-bottom: 10px;
  font-weight: 500;
}

.course-info p {
  color: #8080808c;
  font-size: 14px;
  font-weight: 14px;
  margin-bottom: 36px;
}

.form-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.next-btn {
  border: none;
  border-left: 2px solid var(--accent);
  border-radius: 4px;
  color: white;
  padding: 10px 20px;
  width: 100%;
  margin-top: 20px;
  background: linear-gradient(270deg, #34a2d7 0%, #273368 100%);
}

.form-step {
  display: none;
}

.form-step.active {
  display: block;
}

.success-text {
  margin-top: 8px;
  color: var(--accent);
}

/* Style all input fields and select dropdowns */
input,
select,
textarea {
  color: #95a5a6 !important;
}

/* Style placeholder text */
input::placeholder,
select::placeholder,
textarea::placeholder {
  color: #95a5a6 !important;
}

/* Style the date input specifically */
input[type="date"] {
  color: #95a5a6 !important;
}

/* Style the select dropdown */
select {
  color: #95a5a6 !important;
}

select option {
  color: #95a5a6 !important;
}
