/* General Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Variables */
:root {
  --primary: #273368;
  --secondary: #1a99d5;
  --accent: #82bf40;
  --background: #f8f8f8;
  --text-muted: #6c757d;
  background-color: var(--background);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--background);
}

header {
  background-color: white;
  box-shadow: 0px 1px 4px 0px #00000040;
}

nav {
  height: 100px;
}

nav ul li > a {
  color: black;
  text-decoration: none;
}

.nav__item--active {
  height: 100%;
  background-color: var(--accent);
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
}

.nav__item--active a {
  min-height: 96px;
  width: 100%;
  display: inline-block;
  color: white;
  background-color: var(--primary);
  padding: 0 1rem;
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-all-btn {
  background: linear-gradient(to right, var(--primary), var(--secondary));
  color: white;
  border-radius: 4px;
  padding: 6px 12px;
  border: none;
  font-weight: 400;
  border-left: 3px solid var(--accent);
  border-radius: 4px;
  cursor: pointer;
}
.event img {
  object-fit: cover;
  border-radius: 4px;
}

.event {
  display: flex;
  align-items: center;
}

.event span {
  display: block;
}

.event span.fw-bold {
  font-size: 14px;
  color: #000;
}

.event span.text-muted {
  font-size: 12px;
  color: var(--text-muted);
}

.card-header h3 {
  font-size: 18px;
  font-weight: bold;
}

.card-body {
  padding: 0;
}

/* Popular course card style start */

.course-title {
  font-size: 12px;
  font-weight: 700;
  color: #121212;
}

.course-availability {
  font-size: 12px;
  font-weight: 500;
  color: #404b7c;
  line-height: 21px;
}
.course-duration {
  color: #98a4b5;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
}

nav ul li:last-child > a {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 4px;
  padding: 4px;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;

  /* Event Item Styles */
}

main {
  padding: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

section {
  background-color: white;
  padding: 12px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px #0000004d;
}

.news {
  grid-column: 2 / 4;
}

@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
  }

  .news {
    grid-column: 1 / 2;
  }
}
