.mobile-nav-top {
  background-color: var(--primary);
  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem;
  z-index: 100;
}

main {
  margin-top: 4rem;
  margin-bottom: 5rem;
}

footer {
  background-color: var(--primary);
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer > div {
  height: 22px;
  background-color: var(--background);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

footer ul {
  padding: 1.5rem 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: var(--primary);
  display: flex;
  gap: 10px;
  align-items: center;
}

.active-mobile-nav {
  background-color: white;
  padding: 8px 12px;
  border-left: 2px solid var(--accent);
  border-radius: 10px;
}

.active-mobile-nav > span {
  font-size: 10px;
  font-weight: 500;
}
