@font-face {
  font-family: "Poppins";
  src: url("/assets/Poppins/Poppins-Regular.ttf") format("truetype");
}

/* General Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #273368;
  --secondary: #1a99d5;
  --accent: #82bf40;
  --background: #f8f8f8;
  --gray: #b9b9b9;
  --gray-dark: #dfe1e9;
  --text-muted: #6c757d;
  background-color: var(--background);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  border: 1px solid #abb5be;
  outline: none;
}

input[type="checkbox"]:checked {
  accent-color: var(--primary);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
}

.mobile-nav-top {
  background-color: var(--primary);
  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem;
  z-index: 100;
}

main {
  margin-top: 4rem;
  margin-bottom: 5rem;
}

/* Dashboard style start */

.dashboard-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 0;
}

section {
  background-color: white;
  padding: 12px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px #0000004d;
}

.dashboard-container section:not(:first-child) {
  margin: 0 1rem;
}

.dashboard-container section.news {
  margin-bottom: 2rem;
}

.events-container {
  padding: 1rem;
}

.membership,
.events,
.courses,
.communities,
.news,
.poll {
  grid-column: 1;
}

.events {
  grid-row: 2;
}

.courses {
  grid-row: 3;
}

.communities {
  grid-row: 4;
}

.news {
  overflow-x: scroll;
  grid-row: 6;
}

.poll {
  grid-row: 5;
}

.shadow-link button {
  display: inline-block;
  padding: 8px 10px;
  font-size: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(270deg, #34a2d7 0%, #273368 100%);
  border-radius: 4px;
  border: none;
  border-left: 2px solid var(--accent);
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

.shadow-link:focus {
  outline: none;
}

.shadow-link button:focus {
  outline: none;
}

.account__card__body > div:first-child {
  width: 100%;
  left: 0;
}

.rounded-image {
  width: 50px;
  height: 50px;
}

/* Membership & Account Style start */
.membership {
  padding: 0;
}

.membership-header-title {
  font-size: 16px;
  font-weight: 600;
}

.membership__card {
  padding: 12px;
  border-bottom: 1px solid var(--gray);
  padding-bottom: 24px;
}

.membership__card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.membership__card__header h2 {
  font-weight: 600;
}

.membership__card__body p {
  margin-top: 18px;
  color: var(--gray);
  font-size: 12px;
}

.account__card {
  margin-top: 22px;
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.account-header-title {
  font-size: 16px;
  font-weight: 600;
}

.account__card__header {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.account__card__header h2 {
  font-weight: 600;
}

.account__card__body > div:first-child {
  width: 100%;
  background-color: var(--primary);
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 22%;
  left: 0%;
  z-index: 1;
}

.account__card__body > div:first-child h6 {
  color: white;
  font-size: 12px;
  font-weight: 500;
}

.account__card__body > div:first-child h3 {
  color: white;
  font-weight: 600;
}

.account__card__body > div:last-child {
  margin-top: 2.5rem;
  flex-grow: 1;
  background-color: var(--gray-dark);
  display: flex;
  justify-content: space-evenly;
  z-index: 100;
}

.account__card__body > div:last-child div {
  padding-top: 4.5rem;
  padding-bottom: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.account__card__body > div:last-child div > span {
  font-weight: 600;
  color: var(--primary);
}

/* Event style start */
.events {
  padding: 0;
}

.filter-trigger-btn {
  display: none;
}

.filter-content {
  max-height: max-content;
}

.spacing {
  padding: 12px;
}
.event {
  display: flex;
  align-items: center;
}

.header-title {
  font-size: 16px;
  font-weight: 700;
}
.event img {
  object-fit: cover;
  border-radius: 4px;
}
.event-title {
  line-height: 24px;
  font-weight: 600;
  font-size: 14px;
}

.event-timestamp {
  font-size: 12px;
  font-weight: 400;
  color: #a6a6a6;
  line-height: 16px;
}

.event span {
  display: block;
}

.event span.fw-bold {
  font-size: 14px;
  color: #000;
}

.event span.text-muted {
  font-size: 12px;
  color: var(--text-muted);
}

.card-header h3 {
  font-size: 18px;
  font-weight: bold;
}

.card-body {
  padding: 0;
}

/* Course style start */
.courses {
  padding: 0;
}

.course-title {
  font-size: 12px;
  font-weight: 700;
  color: #121212;
}

.course-availability {
  font-size: 12px;
  font-weight: 500;
  color: #404b7c;
  line-height: 21px;
}
.course-duration {
  color: #98a4b5;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
}

/* Square Div */
.square-image {
  position: relative;
  width: 90px;
  height: 70px;
  overflow: hidden;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
}

.square-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #273368;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

/* Communities Styling start */

.rounded-image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.rounded-image {
  width: 50px;
  height: 50px;
}

/* Image Styling */
.rounded-image img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/* Centered Text Overlay */
.community-overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

/* News style start */
.news__card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--accent);
}

.news__card__header > h3 {
  font-weight: 600;
  font-size: 16px;
}

.news__card__body {
  padding: 26px 2px 7px;
  display: flex;
  gap: 26px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.article__card {
  flex: 0 0 184px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 3px;
  box-shadow: 0px 2px 4px 0px #00000040;
}

.article__card > img {
  width: 100%;
  height: 166px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.article__card__content {
  padding: 5px;
}

.article__card__content > h2 {
  font-weight: 500;
}

.article__card__content > p {
  margin-top: 6px;
  font-size: 10px;
  color: #676768;
  line-height: 18px;
}

.article__card__content > div {
  margin-top: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article__card__content > div > span {
  color: #9898988c;
  font-size: 10px;
}

/* Poll Card  */

.poll-card-header {
  padding-bottom: 12px;
  border-bottom: 1px solid var(--accent);
}

.poll-card-header h4 {
  font-weight: 600;
}

.poll-card-body {
  padding-top: 8px;
}

.poll-card-body > p {
  color: var(--primary);
  font-size: 12px;
  font-weight: 600;
}

.poll-group {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.poll-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.poll-item > label {
  font-size: 12px;
}

/* To style input radio */
input[type="radio"] {
  /* appearance: none;
  -webkit-appearance: none; */
  width: 16px;
  height: 16px;
  border: 1px solid #555;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  background-color: #fff;
}

/* input[type="radio"]:checked {
  background-color: var(--primary);
  border-color: var(--primary);
} */

.poll-card-footer {
  margin-top: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.poll-card-footer > span {
  color: #676768;
  font-size: 10px;
}

.poll-results {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.poll-results > .result-item {
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 10px;
}

.poll-results > .result-item > .result {
  font-size: 14px;
  font-weight: 600;
}

.poll-results > .result-item > .result-bar {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.result-item > div > span {
  font-size: 12px;
}

.result-item > div > .progress {
  background-color: white;
}

.result-item > div > .progress {
  height: 7px;
}

.result-item > div > .progress > .progress-bar {
  border-radius: 7px;
}

/* Membership Card */
.membership-container {
  margin: 5rem 0 7rem !important;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px #0000004d;
  box-shadow: 0px 1px 3px 1px #00000026;
}

.membership-card {
  border-radius: 15px;
  transition: transform 0.3s;
  height: 100%;
  background-color: #fff;
  border: 2px solid transparent;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(to bottom, #273368, #34a2d7);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.feature-list {
  list-style: none;
  padding-left: 0;
}
.feature-item {
  padding: 8px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
.feature-active {
  color: #0d6efd;
}
.feature-inactive {
  color: #6c757d;
}

.select-btn {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
}

/* Event page style start */
.events-wrapper {
  padding: 4rem 0 7rem;
}

.course-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.filter-trigger-btn {
  display: block;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.filter-trigger-btn button {
  border: none;
  color: var(--primary);
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px #0000004d;
  padding: 8px 12px;
}

.filter-container {
  display: none;
}

.mobile-filter {
  width: 100%;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-filter > div:first-child > h5 {
  font-size: 16px;
  font-weight: 600;
  border-bottom: 1px solid var(--accent);
  padding-bottom: 0.5rem;
}

.mobile-filter > div:first-child > div {
  border-bottom: 1px solid #00000040;
  margin-left: 4px;
  margin-bottom: 1.25rem;
}

.mobile-filter > div:first-child > div > h6 {
  font-size: 10px;
  font-weight: 600;
}

.mobile-filter > div:first-child > div > div div:last-child {
  padding-bottom: 0.8rem;
}

.checkbox-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox-container label {
  font-size: 10px;
}

.mobile-filter > div:last-child {
  margin-bottom: 1rem;
}

.mobile-filter > div:last-child button {
  width: 100%;
  padding: 12px 0;
  color: white;
  background: linear-gradient(270deg, #34a2d7 0%, #273368 100%);
  border: none;
  border-radius: 4px;
}

.event-card-text {
  font-size: 11px;
  font-weight: 400;
  color: #676768;
  line-height: 18px;
}

.event-card-title {
  font-size: 16px;
  font-weight: 500;
  color: #121212;
}

.event-duration {
  font-size: 10px;
  color: #9898988c;
  margin: 0 !important;
}

/* Event Detail page style start */
.event-detail-card {
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px #0000004d;
  box-shadow: 0px 1px 3px 1px #00000026;
  padding-bottom: 1.5rem;
}

.event-detail-card-header {
  display: flex;
  border: none;
  border-bottom: 3px solid #0000001a;
  position: relative;
}

.event-detail-card-header::before {
  content: "";
  height: 3rem;
}

.event-detail-card-header-tab-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 4px;
}

.event-detail-card-header button {
  width: 100%;
  font-weight: 500;
  border: none;
  background-color: white;
  padding: 1rem 1.5rem;
}

.selected-event-detail-tab {
  color: white;
  background-color: var(--primary) !important;
  font-weight: 500;
  padding: 1rem 1.5rem;
  border: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom: 3px solid var(--accent) !important;
}

.event-details-card-header {
  position: relative;
}

.event-details-card-header a {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  padding: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.event-details-card-header button {
  color: white;
  background-color: var(--primary);
  font-weight: 500;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  border-right: 3px solid var(--accent);
  box-shadow: 0px 4px 4px 0px #0000004d;
  box-shadow: 0px 8px 12px 6px #00000026;
}

.event-date {
  color: #9898988c;
  font-size: 12px;
}

.event-cta button {
  border: none;
  border-left: 2px solid var(--accent);
}

.event-card-shadow {
  box-shadow: 0px 1px 2px 0px #0000004d;
  overflow: auto;
  border-radius: 4px;
  background: #fff;
}

.event-description {
  /* font-size: 14px; */
  line-height: 24px;
  font-weight: 400;
  color: #676768;
  margin-left: 1rem;
  margin-right: 2rem;
}

.getintouch-title {
  font-size: 20px;
  font-weight: 600;
  color: #212529;
  line-height: 30px;
  margin-left: 1rem;
}

.contact-container {
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 16px;
  margin: 1rem;
  border: 1px solid #9898988c;
}
.contact-item {
  display: flex;
  align-items: center;
  gap: 15px;
}
.contact-icon {
  font-size: 24px;
  color: #273368;
  font-weight: 600;
}
.contact-text {
  margin: 0;
  font-size: 16px;
  color: #273368;
  font-weight: 600;
  line-height: 24px;
}
.contact-email {
  color: #273368;
  font-weight: 600;
  text-decoration: none;
  line-height: 24px;
}

.speaker-sponser-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 1rem 1rem 5rem 1rem;
}

/* Instructor Card */
.event-speaker-wrapper > h3 {
  color: #121212;
  font-size: 20px;
  font-weight: 600;
}
.event-speaker-container {
  display: flex;
  gap: 2rem;
  margin-top: 0.8rem;
}

.speaker-card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.speaker-image img {
  border: 4px solid var(--accent);
  width: 150px;
  height: 150px;
  z-index: 2;
  object-fit: cover;
  position: relative;
}

.speaker-name {
  position: absolute;
  bottom: -16%;
  background-color: #ecffd8;
  width: 160px;
  height: 64px;
  border-top-left-radius: 78px;
  border-top-right-radius: 78px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  box-shadow: 0px 4px 4px 0px #0000004d;
  box-shadow: 0px 8px 12px 6px #00000026;
}

.speaker-name h5 {
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  padding-top: 2.5rem;
}

/* Sponsor Container */
.sponsor-container-heading {
  font-size: 20px;
  font-weight: 600;
}

.sponsor-container {
  display: flex;
  gap: 1rem;
  margin-top: 0.8rem;
  overflow-x: scroll;
}

.sponsor-container > div {
  margin: 0 auto;
  min-width: 244px;
  background-color: white;
  padding: 4px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px 0px #00000040;
}

.sponsor-container > div > img {
  width: 100%;
  height: 210px;
  object-fit: cover;
  border-radius: 8px;
}

/* Session Tab Styling */
.session-card {
  border-radius: 8px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 4px 0px #00000040;
}

.session-details {
  background-color: white;
  border-top: 4px solid var(--accent);
  padding: 8px 0 8px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.session-details p {
  margin: 4px 0;
}

.session-details p:first-child {
  color: #9898988c;
  font-size: 12px;
}

.session-details p:first-child {
  font-weight: 500;
}

.session-details p:last-child {
  font-weight: 500;
}

.session-title {
  font-weight: bold;
  font-size: 16px;
}

.session-time {
  font-size: 14px;
  color: #6c757d;
}

.quantity-control {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 5px 16px;
}

.quantity-control button {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.quantity-control span {
  background-color: #001f54;
  color: white;
  font-weight: bold;
  width: 50px;
  text-align: center;
  border-radius: 60px;
  padding: 4px 12px;
}

.price-section {
  margin-top: 2px;
  padding-bottom: 4rem;
  display: flex;
  gap: 8px;
  width: 100%;
  position: relative;
}

.price-section > div {
  width: 100%;
  margin-top: 2px;
  padding: 8px 0;
  background-color: #d9d9d94d;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.price-section > div:not(:last-child) {
  background-color: var(--accent);
}

.price-section > div:not(:last-child) > p {
  color: white;
}

.price-section > div > p {
  margin: 0;
  color: var(--primary);
}

.price-section > div p:first-child {
  font-size: 20px;
  font-weight: 600;
}

.price-section > div p:last-child {
  font-size: 14px;
}

.price-section > button {
  width: 96%;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  color: white;
  background-color: var(--primary);
  position: absolute;
  bottom: 0.5rem;
  left: 2%;
  z-index: 1;
}

.session-details {
  width: 100%;
}

/* Community Page style start */
.community-container {
  box-shadow: 0px 1px 2px 0px #0000004d;
  overflow: auto;
  border-radius: 4px;
  margin: 5rem 0 8rem;
}

.large-shadow-link button {
  display: block;
  font-size: 16px;
  color: white;
  height: 46px;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(270deg, #34a2d7 0%, #273368 100%);
  border-radius: 4px;
  border: none;
  border-left: 3px solid var(--accent);
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
  margin: 8px auto;
}

.large-shadow-link:focus {
  outline: none;
}

.large-shadow-link button:focus {
  outline: none;
}

/* Community Detail page style start */
.community-detail-wrapper {
  padding: 1rem 0 7rem;
}

/* Courses page style start */
.course-wrapper {
  padding: 1rem 0 7rem;
}

.course-section > h5 {
  display: none;
}

.course-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.course-container > div {
  border: none;
  box-shadow: 0px 2px 4px 0px #00000040;
}

.course-container > div > div > h5 {
  font-size: 12px;
  font-weight: 700;
  color: #121212;
}

.course-container > div > div > p {
  font-size: 12px;
}

.course-container .card-body > p:nth-of-type(1) {
  font-weight: 500;
  color: #404b7c;
}

.course-container .card-body > p:nth-of-type(2) {
  font-weight: 700;
  color: #98a4b5;
  margin: 0.5rem 0 0.7rem;
}

/* News & Article page style start */
.news-article-wrapper {
  padding: 1rem 0 7rem;
}

.top-grey-card {
  margin-top: 8px;
  background-color: #d9d9d9;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  height: 166px;
}

.article-title {
  font-size: 20px;
  font-weight: 600;
  color: #121212;
}

.article-date {
  font-size: 12px;
  font-weight: 400;
  color: #676768;
}

.article-datepicker-icon {
  height: 16px;
  width: 16px;
  outline: none;
  color: #abb5be;
  font-size: 10px;
  width: 100%;
}

.article-content {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: #676768;
  margin-top: 12px;
  margin-right: 0px;
  line-height: 24px;
}

.news-title {
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  margin: 12px;
  border-bottom: 1px solid #82bf40;
  padding-bottom: 2px;
}

.news-card-shadow {
  box-shadow: 0px 1px 2px 0px #0000004d;
  overflow: auto;
  border-radius: 4px;
}

.news-article-container {
  padding: 0 !important;
}

.news-article-detail {
  padding: 2.5rem 0 7rem;
}

/* Footer style */
footer {
  background-color: var(--primary);
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

footer > div {
  height: 22px;
  background-color: var(--background);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

footer ul {
  padding: 1.5rem 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: var(--primary);
  display: flex;
  gap: 10px;
  align-items: center;
}

.active-mobile-nav {
  background-color: white;
  padding: 8px 12px;
  border-left: 2px solid var(--accent);
  border-radius: 10px;
}

.active-mobile-nav > span {
  font-size: 10px;
  font-weight: 500;
}
